/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/* HLAVICKA */
.hlavicka {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url("images/island-hlavicka.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(84, 84, 84);
    padding: 100px;   
}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 50px;
    padding-top: 5%;
    margin: 0px;   
}

.perex {
    padding: 30px;
}

.cara {
    color:white;
    width: 20%;
}

.autor {
    font-style: italic;
    color: rgb(208, 204, 204);
    padding-bottom: 50px;
}

/* MENU */

.menu {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px 30px 30px 30px;
}

a {
     text-decoration: none;
     color: rgb(185, 181, 181);
     font-family: sans-serif;
     text-transform: uppercase;
}



/* OBSAH */

h2 {
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 50px;
    position: relative;    
}

h2::after {
	content: "";
	display: block; 
	width: 120px;
	height: 5px;
	background-color: rgb(91, 151, 197);
    position: absolute;
    left: -20px;
    top: 70px;   
}

.uvod,
.proc,
.covidet,
.covidet1,
.covidet2 {
    margin: 0 20px 40px 20px;
}

.fotomezi img {
   width: 100%;
   display: block;
   margin: 0;
   
}



/* FOTOGALERIE */

.nadpisgalerie{
    margin: 20px;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 50px;
    position: relative;    
}

h2::after {
	content: "";
	display: block; 
	width: 120px;
	height: 5px;
	background-color: rgb(91, 151, 197);
    position: absolute;
    left: -20px;
    top: 70px;   
}

.galerie {
    display: flex;
    flex-direction: column;
    margin: 0;

    }

.galerie img {
        margin: 0;
        width: 100%;
        display: block;
    }

.galerie .popisek {
        font-weight: bold;
    }

.galerie .popisek-copy {
        font-weight: normal;
    }

.galerie .popisek a {
        text-decoration: underline;
        color:rgb(144, 145, 146);
        text-transform: none;
}  

/* PATICKA */

.paticka {
    color: rgb(116, 113, 113);
    background-color: rgb(240, 234, 234);
    font-size: 10px;
    font-family: sans-serif;
    text-align: left;
    margin: 0;
    padding: 40px 20px 10px 20px;
}

.paticka a {
    text-decoration: underline;
    color:rgb(144, 145, 146);
}

.patickanadpis {
    font-weight: bold;
    font-size: larger;
}

@media screen and (min-width: 500px) {
    /* MENU */
    .menu {
        flex-direction: row;
        justify-content: space-around;
        flex: 1 1 auto;
        font-size: 90%;         
    }
 
    .foto {
            position: relative;
            overflow: hidden;
        }
    .popisek {
        font-family: sans-serif;
        font-size: 10px;
        text-align: center;
        margin: 0;
        position: absolute;
        bottom: 30px;
        color: white;
        width: 100%;
        transition: transform 0.3s;
        opacity: 0;
    }

    /* OBSAH */
    .foto:hover .popisek { 
        transform: translateY(-100%);
        opacity: 100;
    }

    .foto:hover img {
        transform: scale(1.2);
        transition: transform 0.3s;
    }
    
    /* FOTOGALERIE */
    .galerie {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .galerie .foto {
        float: left;
        width: calc(100% / 2);
        position: relative;
        overflow: hidden;
    }
    
    .galerie .popisek {
        margin: 0;
        font-size: x-large;
        color:white;
        font-weight: normal;
        transition: 0.3s;
        position: absolute;
        bottom: 30px;
        width: 100%;
    }

    .galerie a {
        color: white;
    }

    .foto:hover .popisek {
        transform: translateY(-100%)
    }
}

@media screen and (min-width: 1000px) {
    .galerie .foto {
        width: calc(100% / 3);
    }

    .vse {
        margin-top: 0%;
        position: absolute;
        background-color: rgb(239, 230, 230);
    }

    .text {
        position: relative;
        width: 950px;
        display: block;
        margin: auto;
        margin-top: -30px;
        box-shadow: 1px 1px 10px 2px rgb(174, 172, 172);
        background-color: white;
    }

    .menu {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        float: left;    
    }

    .uvod {
        display: flex;
    }

    .proc {
       padding-right: 30%;
        padding-left: 2%;
    }
       
    .covidet1,
    .covidet2,
    .covidet {
        padding-left: 30%;
    }
      
    .fotomezi {
        width: 100%;
        padding-left: 0%;
    }
}
 